<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sobatanemia">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.MyMaterialTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MisiActivity"/>
        <activity android:name=".MateriActivity" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".DaftarActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SetAlarmActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NotifActivity" />

        <receiver android:name=".service.AlarmReceiver" />

        <service
            android:name=".service.PlaySoundService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>